.container {
    margin-top: var(--nav-height);
    .bread-crumb {
        padding:  20px;
        > span:nth-child(1){
            margin-right : 10px;
        } 
        >span:nth-child(2){
            margin-left : 10px;
            font-weight: 500;
        }
    }
    .top-info{
        .top-info__wrapper{
            padding: 0 20px;
            background-color: #f6f6f6;
            .top-info__main{
                display: flex;
                padding-top: 20px;
                align-items: center;
                >p {
                    margin: 0 0 0 10px;
                }
            }
            .cloud-tags {
                > ul {
                    padding : 20px 0 30px 0;
                    margin:  0;
                    > li {
                        display: inline-block;
                        padding: 0 10px;
                        cursor : pointer;
                        border: 1px solid #ccc;
                        margin-right: 20px;
                        background-color: #FFFFFF;
                    }
                }
            }
        }
    }
    @media (min-width: 1400px){
            max-width: 100% !important;
            padding : 0 50px !important;
    }
}