:root {
    --nav-height : 172px;
}
*{
    box-sizing: border-box;
}
.container-fluid {
    padding: 0 50px;
}
p {
    margin: 0;
}
button {
    background-color: #FFFFFF;
    border: none;
    outline: none;
}